<!-- Scripts -->

<link rel="stylesheet" href="{{ "/js/main.js" | prepend: site.baseurl }}">

<!-- /Scripts -->
<footer class="page-footer">
  <h1 class="footer-h1">{{ site.title }}</h1>
  <a href="mailto:{{ site.email }}">{{ site.email }}</a>
  {% if site.github_username %}
  <a href="https://github.com/{{ site.github_username }}">Github</a>
  {% endif %}
  {% if site.twitter_username %}
  <a href="https://twitter.com/{{ site.twitter_username }}">Twitter</a>
  {% endif %}
  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>
</footer>