---
layout: default
showheader: false
---
<article class="post">
  <header id="post-header" style="background-image: url({% if page.headerimage %}{{ site.baseurl }}{{ page.headerimage }}{% endif %})">
    <h1 class="post-h1" href="{{ post.url | prepend: site.baseurl }}">{{ page.title }}</h1>
  </header>
  {% include nav.html %}
  <div class="post-content">
    <p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
    {{ content }}
  </div>
</article>
{% for c in page.comments %}
  <p>
    {{c.content}}
  </p>
  <hr />
{% endfor %}
{% include comment_template.html %}